@import "tailwindcss";

@theme {
  --color-dark-100: #4b465c;
  --color-dark-200: #f8f7fa;
  --color-dark-300: #dbdade;
  --color-dark-400: #909090;
  --color-dark-500: #e5e7eb;
  --color-dark-600: #ececec;
  --color-primary-main: #246aa3;
}

body {
  font-family: "Public Sans Variable", sans-serif;
}

@layer components {
  .card {
    @apply rounded bg-white p-4 shadow;
  }

  .container {
    @apply mx-auto flex max-w-6xl gap-4 p-6;
  }
}
